@use 'flex';
@use 'colors';

.filter-row,
.search {
    @include flex.FlexBox(space-between, center);
    margin: 10px 0px;
}

// ======filter======
.filter-drop-menu {

    select,
    input {
        padding: 5px 10px;
        font-size: 0.9rem;
        color: colors.$deepPurple;
        border: 1px solid colors.$deepPurple;

        &:active,
        &:focus {
            outline: 2px solid colors.$lightPurple;
        }
    }
}

.form {

    input[type=submit] {
        cursor: pointer;
    }

    select,
    input {
        padding: 5px 7px;
        font-size: 0.9rem;
        border: 1px solid colors.$purple;
        color: colors.$deepPurple;
    }
}

.search-form {
    margin-left: 40px;

    .search {
        border: 1px solid colors.$purple;
        width: fit-content;

        button,
        input {
            border: none;
            outline: none;
        }

        button {
            cursor: pointer;
            background-color: colors.$purple;
            outline: 1px solid colors.$purple;

            img {
                padding: 5px;
                height: 35px;
            }
        }
    }
}