@use 'flex';
@use 'colors';
@use 'anim';
@use 'responsive';
@use 'login';
@use 'employees';
@use 'add-employee';
@use 'departments';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

h1,
.logout p {
    color: colors.$purple;

    a {
        color: colors.$purple;

        &:active {
            color: colors.$deepPurple;
        }
    }
}

.sidebar.open {
    width: 260px;
    text-align: right;

    .admin-info {
        @include flex.FlexBox(center, center);
    }

    .menu-container {
        @include flex.FlexBox(space-between, flex-start);
        margin-bottom: 5px;
    }

    .sidebar-items {
        .items-container {
            &:hover .tooltip-text {
                display: none
            }
        }

        a {
            @include flex.FlexBox(center, center);
        }

        .sidebar-label {
            animation: fontanim 0.5s linear;
            color: colors.$white;
            font-size: 1rem;
        }
    }

}

.sidebar {
    width: 50px;
    background-color: colors.$purple;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    text-align: center;
    padding: 20px 10px;
    transition: 0.3s linear;

    .admin-info {
        display: none;

        img {
            height: 50px;
            width: 50px;
        }

        color: colors.$white;

        div {
            text-align: left;

            .admin-name {
                animation: fontanim 0.5s linear;
                font-size: 1rem;
            }

            .admin-title {
                font-size: 0.8rem;
                opacity: 0.8;
            }
        }
    }

    img {
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }

    .sidebar-hr {
        outline: none;
        border: none;
        height: 1px;
        width: 100%;
        background-color: colors.$gray;
    }

    .sidebar-items {
        @include flex.FlexBox(space-between, flex-start);
        flex-direction: column;
        margin-top: 40px;

        .items-container {
            @include flex.FlexBox(space-between, center);
            position: relative;

            &:hover .tooltip-text {
                display: block;
            }

            .tooltip-text {
                position: absolute;
                left: 50px;
                background-color: colors.$lightPurple;
                color: colors.$deepPurple;
                padding: 5px 10px;
                border-radius: 5px;
                text-align: left;
                display: none;
                width: max-content;
            }
        }

        a {
            margin-bottom: 5px;
            margin-top: 15px;
        }

        .sidebar-label {
            font-size: 0;
        }

        .bold-hr {
            margin: 15px 0;
            height: 3px;
        }
    }
}

.body.open {
    margin-left: 260px;
}

.body {
    margin-left: 50px;
    min-height: 100vh;
    background-color: colors.$white;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;

    header,
    .logout {
        @include flex.FlexBox(space-between, center);
    }

    .logout {
        cursor: pointer;
        font-size: 1.2rem;

        img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }

    .table-container {
        color: colors.$white;
        padding: 20px 30px;
        margin-top: 10px;
        min-height: 85vh;
        border-radius: 10px;
        background-color: colors.$purple;
        box-shadow: rgba(110, 110, 112, 0.5) 0px 4px 29px 0px;

        table {
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
            border-collapse: collapse;

            th {
                color: colors.$lightPurple;
            }

            th,
            td {
                padding: 20px 10px;
                border-bottom: 1px solid colors.$gray;
            }

            .action {
                img {
                    cursor: pointer;
                }

                .action-menu {
                    position: relative;
                    width: fit-content;

                    &:hover .action-menu-items {
                        display: flex;
                    }

                    input {
                        &[type=submit] {
                            background-color: transparent;
                            font-size: 1rem;
                            border: none;
                            outline: none;
                            color: colors.$deepPurple;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .action-menu-items {
                display: none;
                position: absolute;
                left: -70px;
                top: 0;
                background-color: colors.$white;
                padding: 10px 10px 0 10px;
                flex-direction: column;

                span {
                    margin: 10px 0;

                    a {
                        color: colors.$deepPurple;
                        font-weight: bold;
                    }
                }
            }
        }

        a {
            color: colors.$lightPurple;
        }
    }
}